html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("./img/duster-bg.jpg");
  color: #fff;
}

.duster-fg {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Elms Sans", sans-serif;
}

.pfp {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.subtitle {
  margin-top: -10%;
}

.btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px;
}